
@{
    ViewBag.Title = "AAppTable";
    Layout = "~/Views/AdminDashLayout.cshtml";

      <link href="~/Content/TabularSheet.css" rel="stylesheet" />
}

<body style="background-color: rgba(81, 92, 82, 1)">
    <!-- ./container -->
    <div class="container" style=" background-color: #333;margin-left:10%; border-radius: 5%;
 width: 80%; height: 600px; margin-top: 6%; margin-bottom: 6%">
        <h1 style="color:white; font-family:Gabriola;">Patient Appointment Table Data</h1>
        <div style="position: absolute; height: 83%;width:74%; overflow: auto; ">
            <div style="height: 40%;">
                <table class="blue">

                    <thead style="width:250%; font-family:Gabriola; padding:10%; font-size:150%; ">
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email Address</th>
                            <th>Password</th>
                          
                            <th>Phone No</th>
                            <th>Address</th>
                            <th>Date of Birth</th>
                            <th>Gender </th>
                            <th>City</th>
                            <th>Martial Status</th>
                            <th>Emergency No</th>
                            <th>Department</th>
                            <th>Office Phone No</th>
                         
                       
                     

                            <th>Guardian Name</th>
                            <th>Guardian Phone No</th>

                        
                            
                            <th>Occupation</th>
                            <th>Consulting Dr.Name </th>
                           
                           
                            
                           
                            <th>Relationship To patient</th>
                            <th>Responsible For Patient?</th>
                            <th>
                                Action
                            </th>

                        </tr>
                    </thead>
              <tbody>
                  @foreach (var x in Model)
                  {
                      <tr>

                          <td>@x.FirstName</td>
                          <td>@x.LastName</td>
                          <td>@x.Email</td>
                          <td>@x.Password</td>
                          <td>@x.PhoneNo</td>
                          <td>@x.Address</td>
                          <td>@x.DOBirth</td>
                          <td>@x.Gender</td>

                          <td>@x.City</td>
                          <td>@x.MStatus</td>
                          <td>@x.Departments</td>
                          <td>@x.OfcNo</td>
                          <td>@x.GName</td>
                          <td>@x.GPhoneNo</td>
                          <td>@x.Occupation</td>
                          <td>@x.CDrName</td>
                          <td>@x.Responsible</td>

                          <td>@x.RelationToPatient</td>
                      
                       
                          <td>
                              <div class="btn-group">
                                  <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                      <span> Option</span>
                                  </button>
                                  <ul class="dropdown-menu stay-open pull-right" role="menu" style="padding: 15px; min-width: 100px;">
                                      <li><button id="EditApi" type="submit">Update</button></li>
                                      <li><button id="deleteApi" type="submit" onclick="deleteApi">Delete</button></li>


                                  </ul>

                              </div>
                          </td>

                      </tr>
                  }
            


                    </tbody>
                </table>




            </div>


            <script>
                ; (function ($) {
                    $.fn.fixMe = function () {
                        return this.each(function () {
                            var $this = $(this),
                               $t_fixed;
                            function init() {
                                $this.wrap('<div class="container" />');
                                $t_fixed = $this.clone();
                                $t_fixed.find("tbody").remove().end().addClass("fixed").insertBefore($this);
                                resizeFixed();
                            }
                            function resizeFixed() {
                                $t_fixed.find("th").each(function (index) {
                                    $(this).css("width", $this.find("th").eq(index).outerWidth() + "px");
                                });
                            }
                            function scrollFixed() {
                                var offset = $(this).scrollTop(),
                                tableOffsetTop = $this.offset().top,
                                tableOffsetBottom = tableOffsetTop + $this.height() - $this.find("thead").height();
                                if (offset < tableOffsetTop || offset > tableOffsetBottom)
                                    $t_fixed.hide();
                                else if (offset >= tableOffsetTop && offset <= tableOffsetBottom && $t_fixed.is(":hidden"))
                                    $t_fixed.show();
                            }
                            $(window).resize(resizeFixed);
                            $(window).scroll(scrollFixed);
                            init();
                        });
                    };
                })(jQuery);

                $(document).ready(function () {
                    $("table").fixMe();
                    $(".up").click(function () {
                        $('html, body').animate({
                            scrollTop: 0
                        }, 2000);
                    });
                });
            </script>



        </div>

    </div>


</body>

